@charset "UTF-8";

@font-face {
    font-family: TIActuBeta-Bold;
    src: url(../TIActuBeta-Bold.otf);
		font-weight: bold;
}

@font-face {
    font-family: TIActuBeta-Regular;
    src: url(../TIActuBeta-Regular.otf);
}

html, body{
    margin: 0;
    padding: 0;
    height:100%;
    font-family: TIActuBeta-Regular, sans-serif !important;
    /* 'Inconsolata', 'TIActuBeta-Bold', sans-serif */
}

.leaflet-top {
    top: 140px;
}
.leaflet-bar {
    box-shadow: 0px 0px 5px #ccc !important;
    border-radius: 5px !important;
    border: none !important;
}
#info-map-controls {
    background-color: #fff;
    position: absolute;
    height: 140px;
    top: 0;
    font: 10px sans-serif;
    width: 100%;
}

#info-map-controls.collapsed {
    margin-top: -55px;
}

#info-map-controls svg {
    background: #fff;
    opacity: 0.9;
    width: 100%;
}
#slider {
    width: 100%;
    margin: 0 auto;
}
#info-map {
    z-index: 0;
    /*display: none;*/
    height: 100%;
    background-color: #f7f7f7;
}
#info-map-legend {
    position: absolute;
    z-index: 1;
    /*padding: 20px;*/
    right: 30px;
    bottom: 30px;
    background-color: #333;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    font-family: 'TIActuBeta-Regular', sans-serif !important;
    color: #f4f4f4;
}
#info-map-legend h3 {
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 20px 20px 10px;
    font-weight: lighter;
}
#info-map-legend ul {
    margin: 0;
    padding: 0 20px;
    list-style: none;
}
#info-map-legend li {
    margin: 0 0 5px;
    padding: 0;
    font-size: 16px;
}
#info-map-legend li a {
    color: #fff;
    text-decoration: none;
}
#info-map-legend li a.off {
    color: #888;
}
#info-map-legend span.source {
    display: block;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 12px;
}
#info-map-legend li.faccao span,
#info-map-legend li.milicia span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
#info-map-legend li.faccao span {
    background-color: #8280FF;
}
#info-map-legend li.milicia span {
    background-color: #11CE5C;
}
path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: none;
}

.x.axis.bottom line {
    stroke: #bbb;
}

.x.axis.bottom text {
    display: none;
}

.x.axis path {
    display: none;

}

.x.axis text {
    fill: #f4f4f4;
    font-family: 'TIActuBeta-Regular', sans-serif;
    font-size: 12px;
}

.y.axis path {
    fill: none;
    stroke: none;
}

.y.axis line {
    stroke: #bbb;
    stroke-dasharray: 1,3;
}

.y.axis text {
    fill: #f4f4f4;
    font-family: 'TIActuBeta-Regular', sans-serif;
    font-size: 14px;
}

.slider-thumb {
    color: white;
    height: 20px;
    padding: 0;
    position: absolute;
    width: 20px;
    z-index: 0;
    top: 45px !important;
}

.slider-thumb .slider-handle-start,
.slider-thumb .slider-handle-end {
    height: 15px;
    width: 15px;
    background: url(slider.svg) no-repeat top left;
    background-size: contain;
    margin-left: -10px;
}
.slider-thumb .slider-handle-start {
    cursor: w-resize;
    margin-left: 20px;

}
.slider-thumb .slider-handle-end {
    cursor: e-resize;

}

.marker .guideline {
    stroke: black;
    stroke-width: 0.5px;
}

.marker .guideline.drag {
    stroke-width: 1px;
}

.selection {
    cursor: move;
    fill: rgb(138, 138, 138);
    opacity: 0.2;
}
