@charset "UTF-8";

@font-face {
    font-family: TIActuBeta-Bold;
    src: url(TIActuBeta-Bold.otf);
		font-weight: bold;
}

@font-face {
    font-family: TIActuBeta-Regular;
    src: url(TIActuBeta-Regular.otf);
}

body {
  font-family: 'TIActuBeta-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #333
}

#dropdown-container {
  float: left;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px
}

h1{
  color: #f4f4f4;
  font-size: 2em;
  padding: 0;
  margin: 0
}

h2{
  font-weight: 400;
  color: #999;
  padding: 0;
  margin: 0
}

h5{
  color: #f4f4f4;
  font-weight: 300
}

#dropdown-container span {
  float: left;
  margin-right: 20px;
  display: inline-block;
  margin-top: 5px
}

#wrapper:after {
  content: '';
  display: block;
  clear: both
}

#dropdown {
  width: auto;
  overflow: hidden;
  position: relative
}

#dropdown select {
  color: #f4f4f4;
  width: 100%;
  height: 24px;
  background: #333;
  border: 1px solid #E3E3E3;
  font-size: 14px;
  padding: 0 30px 0 5px;
  outline: 0;
  max-width: 280px;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

#dropdown:after {
  content: '';
  border-color: red;
  border-bottom: 6px solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #333;
  height: 0;
  width: 0;
  position: absolute;
  right: 9px;
  top: 9px;
  z-index: 1;
  pointer-events: none
}

#legend {
  clear: both;
  text-align: left;
  font-size: 14px;
  padding: 0;
  margin-top: 15px;
  margin-left: -3px;
  margin-right: -3px;
  text-align: right;
  float: right
}

#legend .legend_labels {
  color: #f4f4f4;
  width: auto;
  margin: 5px 5px 5px;
  height: auto;
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
  padding: 4px 7px;
  border-radius: 3px;
  border: 1px solid #eee;
  box-sizing: border-box;
  white-space: nowrap
}

#legend .legend_labels .color {
  display: inline-block;
  border-radius: 2px;
  margin-right: 4px;
  height: 6px;
  width: 10px;
  vertical-align: top;
  margin-top: 5px
}

#legend .legend_labels .label {
  vertical-align: top;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  font-size: 17px
}

#legend .legend_labels .label .votes {
  display: inline-block;
  font-weight: 400;
  font-size: 11px;
  color: #777;
  line-height: 1em
}

#legend .legend_labels:hover {
  opacity: .8
}

@media (min-width:520px) {
  #legend .legend_labels {
    width: auto;
    padding: 2px 4px;
  }
  #legend .legend_labels .color {
    height: 10px;
    margin-top: 3px
  }
  #legend .legend_labels .label .votes {
    font-size: 14px
  }
}

.annotation-layer {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding-top: 1px
}

.annotation-layer p {
  display: inline-block;
  font-size: 12px;
  color: #aaa;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top
}

.annotation-layer img {
  vertical-align: top;
  margin-top: 5px;
  transform: rotate(9deg)
}

.number-title {
  font-weight: 400;
  font-size: 16px;
  font-weight: 700
}

.number-subtitle {
  font-weight: 400
}

@media (min-width:520px) {
  .number-title {
    font-size: 20px;
    font-weight: 700
  }
}

/*# sourceMappingURL=style.css.map */
